/* Card.module.css */
.card {
  @apply bg-white rounded-lg flex-1;
  max-height: 34rem;
  overflow: hidden;
}

.cardImage {
  border-radius: 0.5rem;
  object-fit: cover;
  max-height: 34rem;
  display: block;
}

.cardContent {
  padding: 20px;
}
