/* .container { */
/* max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; */
/* height: 100%;
  width: 100%;
  flex: 1; */
/* } */

.hero {
  background-color: #043873;
  /* min-height: 100vh; */
  flex: 1;
}

.section2 {
  background-color: aqua;
  /* min-height: 100vh; */
  flex: 1;
}

.section {
  /* mx-auto */
  /* lg:px-8 */
  /* 
  py-[140px]  max-w-[1480px] 2xl:max-w-[1480px]
  */
  @apply container 2xl:mx-auto  2xl:px-0  2xl:max-w-[1480px] h-screen;
}

/* main {
  max-width: 1480px;
} */
