.container_header {
  @apply container flex 2xl:px-0 justify-between px-8 items-center py-4  mx-auto;
}
.nav_links {
  @apply flex items-center text-white gap-8;
}

.buttons {
  display: flex;
  gap: 24px;
}
.container_buttons {
  display: flex;
  gap: 75px;
}

.img {
  width: 131px;
  height: 34px;
}

li {
  @apply flex gap-2;
}
